footer {
  background-color: #274c5b;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-icons {
  font-size: 24px;
  color: white;
}